@font-face {
  font-family: "Unbounded";
  src: url("/fonts/Unbounded-Medium.eot");
  src: local("Unbounded Medium"), local("Unbounded-Medium"),
    url("/fonts/Unbounded-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Unbounded-Medium.woff2") format("woff2"),
    url("/fonts/Unbounded-Medium.woff") format("woff"),
    url("/fonts/Unbounded-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("/fonts/Unbounded-Bold.eot");
  src: local("Unbounded Bold"), local("Unbounded-Bold"),
    url("/fonts/Unbounded-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Unbounded-Bold.woff2") format("woff2"),
    url("/fonts/Unbounded-Bold.woff") format("woff"),
    url("/fonts/Unbounded-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("/fonts/Unbounded-Regular.eot");
  src: local("/fonts/Unbounded Regular"), local("Unbounded-Regular"),
    url("/fonts/Unbounded-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Unbounded-Regular.woff2") format("woff2"),
    url("/fonts/Unbounded-Regular.woff") format("woff"),
    url("/fonts/Unbounded-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("/fonts/Unbounded-Black.eot");
  src: local("Unbounded Black"), local("Unbounded-Black"),
    url("/fonts/Unbounded-Black.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Unbounded-Black.woff2") format("woff2"),
    url("/fonts/Unbounded-Black.woff") format("woff"),
    url("/fonts/Unbounded-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("/fonts/Unbounded-Light.eot");
  src: local("Unbounded Light"), local("Unbounded-Light"),
    url("/fonts/Unbounded-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Unbounded-Light.woff2") format("woff2"),
    url("/fonts/Unbounded-Light.woff") format("woff"),
    url("/fonts/Unbounded-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
